.SelectDashboardTrigger {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  box-shadow: var(--primary-shadow-color);
  border: var(--border-color);
  border-radius: var(--border-radius);
  font-family: var(--font-base);
  font-size: 1rem;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease 100ms;
  background: white;
}

.SelectDashboardTrigger:focus,
.SelectDashboardTrigger:focus-visible {
  border: 3px solid #000000;
}

.SelectDashboardIcon {
  transition: 0.2s;
}

.SelectDashboardIcon.open {
  transform: rotate(180deg);
}

.SelectDashboardList {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 10;
  max-height: 160px;
  overflow-y: auto;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  font-family: var(--font-base);
  box-shadow: var(--primary-shadow-color);
}

.SelectDashboardItem {
  padding: 8px 12px;
  cursor: pointer;
}

.SelectDashboardItem:hover {
  background: #f2f2f2;
}
