.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  min-width: 150px;
  flex-shrink: 0;
}

.dropdown-btn {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-heading);
  gap: 8px;
  background: #fff;
  box-shadow: var(--primary-shadow-color);
  border: var(--border-color);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: #f5f5f5;
}

.dropdown-menu {
  width: 145px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  max-height: 160px;
  overflow-y: auto;
  box-shadow: var(--primary-shadow-color);
}

.dropdown-menu li {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-family: var(--font-heading);
  color: var(--senary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all ease 150ms;
}

.dropdown-menu li:hover {
  background: #f5f5f5;
}

.dropdown-menu li.selected {
  font-weight: 600;
}
