.sales-table-container {
  width: 100%;
  overflow-x: auto;
  padding: 0 24px;
  background-color: var(--component-background-color);
}

.sales-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  font-family: var(--font-heading);
}

.sales-table th,
.sales-table td {
  padding: 12px 16px;
  color: var(--quaternary-color);
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.sales-table td {
    min-height: 70px;
    height: 10vh;
}

.sales-table tr:hover {
    background-color: #FAFAFA;
}

.sales-table td:first-child {
    font-weight: 600;
}

.sales-table th {
  font-weight: 600;
}

.status {
  padding: 4px 8px;
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
  font-weight: 500;
}

.status.completed {
    background-color: #05966920;
    color: #059669;
    border: 1px solid #05966930;
}

.status.pending {
    background-color: #d9770620;
    color: #d97706;
    border: 1px solid #d9770630;
}

.status.canceled {
    background-color: #dc262620;
    color: #dc2626;
    border: 1px solid #dc262630;
}

.view-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
