body {
  background-color: var(--secondary-color);
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 880px;
  height: 70vh;
}

.form-container {
  position: absolute;
  top: 0;
  width: 620px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 480px;
  padding: 20px;
  border-radius: 0 25px 25px 0;
  background: white;
  transition: all 1s ease;
}

.cadastro {
  left: 250px;
  opacity: 1;
  pointer-events: auto;
}

.login {
  opacity: 0;
  pointer-events: none;
}

.side-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px !important;
  height: 480px;
  padding: 20px;
  background: var(--primary-color);
  color: #FFFFFF;
  border-radius: 25px 0 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: all 1s ease;
}

.container.login-mode .login {
  left: 0;
  opacity: 1;
  pointer-events: auto;
  border-radius: 25px 0 0 25px
}

.container.login-mode .cadastro {
  opacity: 0;
  pointer-events: none;
}

.container.login-mode .side-panel {
  left: 620px;
  border-radius: 0 25px 25px 0;
}


.auth-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password {
  width: 80%;
  text-align: end;
  font-size: 10.2px;
  font-family: "Open Sans";
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration-line: underline;
}

.login-with {
  display: flex;
  gap: 20px;
}