.quick-action {
    display: flex;
    cursor: pointer;
    font-family: var(--font-heading);
    box-shadow: var(--primary-shadow-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
}

.quick-action-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.align-quick-action-items {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--component-background-color);
    width: 100%;
    height: 68px;
    padding: 24px;
    border-radius: 10px;
    transition: all ease 250ms;
}

.align-quick-action-items:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.align-quick-action-items:hover > .quick-action-icon {
    background-color: var(--tertiary-color);
}

.quick-action-text-part {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.title-quick-action {
    font-size: 1rem;
}

.description-quick-action {
    font-size: 0.8rem;
}