.InputDashboard {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  box-shadow: var(--primary-shadow-color);
  border: var(--border-color);
  border-radius: var(--border-radius);
  font-size: 1rem;
  padding: 0 5px;
  transition: all ease 100ms;
}

.InputDashboard:focus {
    border: 2px solid #000000;
}

.readOnly-Input {
  background-color: rgb(238, 238, 238);
}

.readOnly-Input:focus {
  border: 0;
}