.productCards {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    margin: 20px 0;
}

.buttons-container-inventory {
  display: flex;
  gap: 5px;
}

@media (max-width: 1300px) {
    .productCards {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .productCards {
        padding: 0;
    }
}

@media(max-width: 425px) {
  .filter-search {
    box-shadow: none !important;
  }

  .filter-block {
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 1024px) {
    .buttons-container-inventory {
        flex-direction: column;
    }
} 

@media (max-width: 768px) {
    .buttons-container-inventory {
        width: 100%;
    }
}