.clientCards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

.filter-search {
    padding: 24px;
    box-shadow: var(--primary-shadow-color);
    border: var(--border-color);
    border-radius: var(--border-radius);    
    display: flex;
    gap: 10px;
    margin: 0 !important;
    border-radius: 10px;
}

.filter-search > .InputDashboard {
    width: 100% !important;
}

.filters-block {
  display: flex;
  flex: 1;
  gap: 10px;
}

.clientInformationCards {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 375px) {
    .filters-block {
        justify-content: center !important;
    }
}