.recent-action-component {
    width: 100%;
    background-color: var(--component-background-color);
    height: auto;
    padding: 24px;
    box-shadow: var(--primary-shadow-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
}

.recent-action-block {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-heading);
}

.recent-action-type {
    display: flex;
    border-radius: 20px;
    width: 80px;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.recent-activities-icon {
    display: flex;
    width: 32px;
    height: 32px;
    color: #FFFFFF;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
}

.recent-action-time {
    color: var(--quaternary-color);
    font-size: 0.8rem;
}

.green {background-color: var(--primary-color);}
.transparent-green {background-color: rgba(88, 164, 176, 0.125); color: var(--primary-color);}

.orange {background-color: #F59E0B;}
.transparent-orange {background-color: rgba(245, 158, 11, 0.125); color: rgb(245, 158, 11);}

.gray {background-color: var(--quaternary-color);}
.transparent-gray {background-color: rgba(55, 63, 81, 0.125); color: var(--quaternary-color);}

.recent-action-text {
    font-family: var(--font-base);
    padding-left: 45px;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 5px 0;
}

.recent-action-extra {
    padding-left: 45px;
    color: var(--primary-color);
    font-family: var(--font-base);
    font-size: 0.9rem;
    font-weight: 600;
}