.input-with-icon {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  margin: 7.5px 0;
  height: 45px;
  padding: 8px 12px;
  background-color: var(--secondary-color);
  width: 85%;
}

::-webkit-input-placeholder {
  color: var(--quaternary-color);
}

.input-with-icon.left {
  flex-direction: row-reverse;

}

.input-with-icon.right {
  flex-direction: row;
}

.input-with-icon input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14.3px;
  font-family: var(--font-base);
  background-color: transparent;
}

.input-with-icon .icon {
  font-size: 14.3px;
  margin: 0 8px 0 0;
  display: flex;
  user-select: none;
}

.inputs-row {
  display: flex;
  width: 85%;
  gap: 5px;
}

.inputs-row > .input-with-icon {
  flex: 1;
  min-width: 0;
}

.inputs-row .input-with-icon .icon {
  padding-left: 30px;
}

.inputs-row .input-with-icon.right {
  padding-left: 24px !important;
}


/* Remove the show password button on Chrome, Edge and Safari */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none; /* IE/Edge */
}

input[type="password"]::-webkit-password-toggle-button,
input[type="password"]::-webkit-outer-spin-button,
input[type="password"]::-webkit-inner-spin-button {
  display: none; /* Chrome, Safari */
}

input[type="password"]::-webkit-search-decoration,
input[type="password"]::-webkit-search-cancel-button {
  display: none;
}