.report-buttons {
    display: flex;
    gap: 15px;
}

.reportCards {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .report-buttons {
        flex-direction: column;
    }
} 

@media (max-width: 768px) {
    .report-buttons {
        width: 100%;
    }
}