.ReportCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    align-items: center;
    margin-bottom: 10px;
    padding: 24px;
    box-shadow: var(--primary-shadow-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
    gap: 10px;
    text-align: center;
    font-family: var(--font-heading);
    background-color: var(--component-background-color);
    transition: all ease 250ms;
}

.ReportCard:hover {
    box-shadow: var(--primary-shadow-hover-color);
}

.report-icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: var(--primary-color);
    background-color: #58a4b020;
    border-radius: 100%;
    margin-bottom: 5px;
    border: 1px solid var(--primary-color);
}

.report-value-item {
    font-size: 1.5rem;
    font-weight: 600;
}

.report-description-item {
    color: var(--quaternary-color);
    font-size: 0.8rem;
    font-weight: 600;
}

.report-information-item {
    font-size: 0.7rem;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .ReportCard {
        width: 49%;
    }
}

@media (max-width: 425px) {
    .ReportCard {
        width: 100%;
    }
}