.NotificationSetting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    background-color: var(--component-background-color);
    margin: 15px 0 0;
    box-shadow: var(--primary-shadow-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
    padding: 16px;
    color: var(--title-heading-color);
    gap: 5px;
}

.NotificationSetting > div {
    width: 85%;
}

.notification-title-description {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 5px;
}

.notification-title {
    font-size: 0.95rem;
    font-weight: 600;
}

.notification-description {
    font-size: 0.9rem;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;
}

.toggle-switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.toggle-switch-checkbox:checked + .slider {
    background-color: #222;
}

.toggle-switch-checkbox:checked + .slider:before {
    transform: translateX(28px);
}

@media (max-width: 684px) {

    .notification-title {
        font-size: 0.85rem;
    }

    .notification-description {
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {

    .NotificationSetting > div {
        width: 75%;
    }

    .notification-title {
        font-size: 0.75rem;
    }

    .notification-description {
        font-size: 0.7rem;
    }
}