.button {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    align-items: center;
    border: none;
    color: #FFFFFF;
    font-size: 14.3px;
    font-weight: bold;
    font-family: var(--font-base);
    width: 120px;
    min-height: 45px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 250ms;
}

.button:hover {
  /* Sem nada por enquanto por não ter cor de HOVER ainda colocada nos wireframes. */
}

.button:disabled {
  cursor: not-allowed;
}

.quaternary {
    background-color: var(--quaternary-color);
}
