.products-table-container {
  width: 100%;
  overflow-x: auto;
  padding: 0 24px;
  background-color: var(--component-background-color);
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  font-family: var(--font-heading);
}

.first-table-td {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.product-cell {
  padding: 8px 12px;
}

.product-content {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 8px;
}

.product-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  color: var(--primary-color);
}

.products-table th,
.products-table td {
  padding: 12px 16px;
  color: var(--quaternary-color);
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.products-table td {
    min-height: 70px;
    height: 10vh;
}

.products-table tr:hover {
    background-color: #FAFAFA;
}

.products-table td:first-child {
    font-weight: 600;
}

.products-table th {
  font-weight: 600;
}

.status {
  padding: 4px 8px;
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
  font-weight: 500;
}

.status.completed {
    background-color: #05966920;
    color: #059669;
    border: 1px solid #05966930;
}

.status.pending {
    background-color: #d9770620;
    color: #d97706;
    border: 1px solid #d9770630;
}

.status.canceled {
    background-color: #dc262620;
    color: #dc2626;
    border: 1px solid #dc262630;
}

.view-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


.product-barcode-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-category-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #a9bcd0;
    color: var(--quaternary-color);
    background-color: #a9bcd020;
    height: 20px;
    font-size: 0.75rem;
}

.product-quantity-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-quantity-item > p:first-child {
    font-weight: 600;
    font-size: 1.1rem;
}

.product-quantity-item > p:last-child {
    font-size: 0.75rem;
}

.product-price-item {
    color: var(--primary-color) !important;
    font-weight: 600;
}

.product-status-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 20px;
    font-size: 0.75rem;
    padding: 0 10px;
    font-weight: 600;
}

.Normal { background-color: #f0fdf4; color: #059669; border: 1px solid #05966940; }
.Baixo { background-color: #fffbeb; color: #f59e0b; border: 1px solid #f59e0b40; }
.Crítico { background-color: #FEE2E2; color: #DC2626; border: 1px solid #e42b0140; }
.Esgotado { background-color: #bfbfbf; color: #171410; border: 1px solid #1c120140; }

.product-totalValue-item {
    font-weight: 600;
    font-size: 1.025rem;
}