.contact-container {
    padding: 24px 20px;
    display: flex;
    border-radius: var(--border-radius);
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    background-color: var(--component-background-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-contact {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 100%;
}

.contact-subtitle {
    font-size: 0.9rem;
}

.contact-message {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin: 2px 0 5px;
    padding: 8px 12px;
    background-color: "transparent";
    border: 1px solid #e1ddddff;
    width: 90%;
    font-size: 14.3px;
    font-family: var(--font-base);
}

.contact-method {
    font-size: 0.9rem;
}

.contact-method > span {
    font-weight: 700;
}

@media (max-width: 1024px) {
    .contact-container {
        width: 95%;
    }
}