.help-container {
    padding: 20px;
    display: flex;
    border-radius: var(--border-radius);
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 420px;
    height: auto;
    background-color: var(--component-background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon-help {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 100%;
}

.help-subtitle {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.help-description {
    margin-top: 25px;
    font-size: 0.825rem;
}

@media (max-width: 1024px) {
    .help-container {
        width: 90%;
    }
}
