.whatsapp-container {
    padding: 20px;
    display: flex;
    border-radius: var(--border-radius);
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 420px;
    height: auto;
    background-color: var(--component-background-color);
}

.icon-whatsapp {
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    color: #FFFFFF;
    border-radius: 100%;
}

.whatsapp-subtitle {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.business-hour {
    width: 90%;
    min-width: 260px;
    height: auto;
    background-color: #25D36620;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.contact-method-title {
    font-weight: 700;
    font-size: 0.95rem;
}

.contact-hours {
    font-size: 0.9rem;
}

@media (max-width: 1024px) {
    .whatsapp-container {
        width: 90%;
    }
}
