.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Agora flexível para diferentes tamanhos */
.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;       /* pode ser sobrescrito via prop style do BaseModal */
  max-width: 500px; /* valor genérico, modais pequenos e grandes entram aqui */
  height: auto;     /* altura flexível, pode ser controlada via prop */
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-20px);
}
